@inherits web.Pages.BaseComponent

@if (CurrentContainer is null)
{
	<em>Select a container to see the blobs here</em>
}
else
{
	<em>Blobs for @CurrentContainer will appear here</em>
	if (Loading){
		<em>Fetching data from @CurrentContainer...</em>	
	}

	if (ShowTable) {
	<table class="ui blue table">
	<thead>
		<tr>
			<th>
				@if (!RemoveContainerFlag){
				<button class="ui icon button" @onclick="FlagContainerToDelete">
					<i class="trash icon"></i>
				</button>
				} else {
				<div class="ui buttons">
					<button class="ui button" @onclick="CancelDeleteContainer">Cancel</button>
					<div class="or"></div>
					<button class="ui negative button" @onclick="DeleteContainer">Delete</button>
				</div>
				}
			</th>
			<th></th>
			<th>
				<div style="display:flex">
					<input class="ui button" type="file" #fileInput placeholder="Upload file..." />
					<button class="ui button" type="button" (click)="upload()">Upload</button>
				</div>
			</th>
			<th>
				<input #uploadToFolder placeholder="Upload to folder" />
			</th>
		</tr>
	</thead>
	<tbody>
		@if (CurrentPath != "")
		{
			<tr>
				<td>
					<button class="ui icon button" @onclick="MoveUp">
						<i class="caret square up icon"></i>
					</button>
				</td>
				<td colspan="3" class="table-text">@CurrentPath</td>
			</tr>
		}
		
		@foreach (var Folder in AzureContainerFolders)
		{
			<tr>
				<td class="collapsing">
					<button class="ui icon button" @onclick="@(e => EnterFolder(e, Folder.Url))">
						<i class="folder icon"></i>
					</button>
				</td>
				<td colspan="@FolderSpan" class="table-text">@Folder.Name</td>
				<td style="display:none">@Folder.Url</td>
			</tr>
		}

		@foreach (var Blob in AzureContainerBlobs)
		{
			<tr>
			<td class="collapsing">
				@if (SelectedBlob != Blob.Url) 
				{
					<button class="ui icon button" @onclick="@(e => FlagBlobToDelete(e, Blob.Url))"> 
						<i class="trash icon"></i>
					</button>
				} 
				else 
				{
					<div class="ui buttons">
						<button class="ui button" @onclick="CancelDeleteBlob">Cancel</button>
						<div class="or"></div>
						<button class="ui negative button" onclick="DeleteBlob">Delete</button>
					</div>
				}
			</td>
			<td class="collapsing">
				<button class="ui icon button" onclick="DownloadBlob">
					<i class="download icon"></i>
				</button>
			</td>
			<td colspan="2" class="table-text">@Blob.Name</td>
			<td style="display:none">@Blob.Url</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<th colspan="2">@FileCount @Plural found</th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
</table>

	}

}


@* 


<div *ngIf="hasErrors" class="ui negative message errorMessage">
	<div class="header">{{ errorMessage }}</div>
</div> *@
