@inherits web.Pages.BaseComponent

<Error HasError=@HasError ErrorMessage=@ErrorMessage />

<p></p>

@if (CurrentTable is null)
{
	<em>Select a table to query or insert data</em>
}
else
{

	<div class="ui action input fullWidth">
		<textarea @bind="InputQuery" class="queryarea" rows="3" placeholder="Search pattern..."></textarea>
		<select @bind="QueryMode" style="height: 40px; margin-left: 3px;" class="ui button compact selection">
			<option class="item" value="q" selected="">Search</option>
			<option class="item" value="i">Insert</option>
		</select>
		<div style="height: 40px; margin-left: 3px; "class="ui button" @onclick="QueryData">Go</div>
	</div>

	
	<input id="showKeys" type="checkbox" @onchange="ShowKeysChanged">
	<label for="showKeys">Hide Partition and Row keys</label>
	

	if (Loading){
		<em>Fetching data from @CurrentTable...</em>	
	}

	if (ShowTable) 
	{

	<table class="ui blue table">
	<thead>
		<tr>
			@* <th>
				<button *ngIf="!removeTableFlag" class="ui icon button" (click)="removeTable($event)">
					<i class="trash icon"></i>
				</button>
				<div *ngIf="removeTableFlag" class="ui buttons">
					<button class="ui button" (click)="cancelDeleteTable()">Cancel</button>
					<div class="or"></div>
					<button class="ui negative button" (click)="deleteTable()">Delete</button>
				</div>
			</th> *@

				<th @attributes="@ColAtts">PartitionKey</th>
				<th @attributes="@ColAtts">RowKey</th>
			@foreach (string header in Headers)
			{
				<th>@header</th>
			}
		</tr>
	</thead>
	<tbody>

		@foreach (var data in AzureTableData)
		{
			<tr>
				<td @attributes="@ColAtts">@data.PartitionKey</td>
				<td @attributes="@ColAtts">@data.RowKey</td>
			@foreach (string header in Headers)
			{
				<td>@data[header]</td>
			}	
			</tr>
		}

	</tbody>
	<tfoot>
		<tr>
			<th colspan="@HeadersCount">@AzureTableData.Count rows found</th>
		</tr>
	</tfoot>
</table>
	}
}